<!-- -*- mode: XML -*- -->
<launch>
    <arg name="connect_on_startup"   default="true"/>
    <arg name="calibrate_on_startup" default="true"/>
    <arg name="engage_on_startup"    default="false"/>

    <arg name="odom_frame"        default="odom"/>
    <arg name="base_frame"        default="wheel_odom_link"/>
    <arg name="publish_odom"        default="true"/>
    <arg name="publish_odom_tf"     default="false"/>

    <arg name="publish_current"        default="true"/>
    
    <arg name="output"   default="screen"/>
    <arg name="respawn"   default="false"/>

    <arg name="torque_control" default="false"/>
    <arg name="velo_p" default="1"/>
    <arg name="velo_i" default="0"/>
    <arg name="velo_d" default="0"/>
    <arg name="turn_p" default="1"/>
    <arg name="turn_i" default="0"/>
    <arg name="turn_d" default="0"/>
    
    <node pkg="differential_odrive" type="odrive_node" name="odrive" ns="odrive" 
            output="$(arg output)" respawn="$(arg respawn)">
        <remap from="/cmd_vel" to="/cmd_vel_mux/cmd_vel"/>
        <param name="wheel_track" value="0.77"/>
        <param name="tyre_circumference" value="0.03852"/>
        <param name ="odrive_sn" value="205F37905753"/>
        <param name ="axis_for_right" value="1"/>
        <param name ="flip_left_direction" value="false"/>
        <param name ="flip_right_direction" value="false"/>
        <param name ="loop_rate" value="50"/>

        <param name="torque_control" value="$(arg torque_control)"/>
        <param name="velo_p" value="$(arg velo_p)"/>
        <param name="velo_i" value="$(arg velo_i)"/>
        <param name="velo_d" value="$(arg velo_d)"/>
        <param name="turn_p" value="$(arg turn_p)"/>
        <param name="turn_i" value="$(arg turn_i)"/>
        <param name="turn_d" value="$(arg turn_d)"/>


        <param name="odom_frame"   value="$(arg odom_frame)"/>
        <param name="base_frame" value="$(arg base_frame)"/>
        
        <param name="connect_on_startup"   value="$(arg connect_on_startup)"/>
        <param name="calibrate_on_startup" value="$(arg calibrate_on_startup)"/>
        <param name="engage_on_startup"    value="$(arg engage_on_startup)"/>
        
        <param name="publish_odom"         value="$(arg publish_odom)"/>
        <param name="publish_odom_tf"      value="$(arg publish_odom_tf)"/>

        <param name="publish_current"      value="$(arg publish_current)"/>
    </node>
</launch>
